.dino {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 21px;
    height: 21px;
    background-color: green;
    transition: bottom 0.3s;
  }
  
  .dino.jump {
    bottom: 50px;
  }
  